# Exemplo real de Regra de Associação pelo Algoritmo Apriori

- Apriori Base IAP - Algoritmo Apriori (Somente PF associados)

In [21]:
# conda install -c conda-forge mlxtend

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_excel("Base_IAP.xlsx")

In [5]:
data = data[(data['Sigla Tipo Pessoa'] == 'PF') & (data[ 'Valor Saldo Cliente Conta Capital Diário'] != 0)]

In [6]:
data['Atividade Econômica'].unique()

array(['PESSOA FISICA'], dtype=object)

In [7]:
data.columns

Index(['Número CPF/CNPJ', 'Atividade Econômica', 'CNAE',
       'Data Início Relacionamento', 'Descrição Categoria Produtor Rural',
       'Escolaridade', 'Estado Civil', 'Idade', 'Profissão',
       'Renda Bruta Mensal', 'Sexo', 'Sigla Tipo Pessoa', 'Tipo Renda',
       'Valor Bem Imóvel', 'Valor Bem Móvel', 'Nome PA',
       'Valor Saldo Cliente Conta Capital Diário',
       'Quantidade Contratos Crédito',
       'Valor Limite Conta Cartão Contratado Diário Cliente Cartão',
       'Quantidade Cota Ativa Cliente Consórcio',
       'Valor Saldo Final Cliente Poupança', 'Valor Saldo Diário Cliente LCA',
       'Valor Saldo Diário Cliente RDC', 'Valor Saldo Diário Cliente LCI',
       'Quantidade Seguro Vigente', 'Valor Contribuição Cliente Previ'],
      dtype='object')

In [10]:
dfprod = data[['Quantidade Contratos Crédito',
       'Valor Limite Conta Cartão Contratado Diário Cliente Cartão',
       'Quantidade Cota Ativa Cliente Consórcio',
       'Valor Saldo Final Cliente Poupança', 'Valor Saldo Diário Cliente LCA',
       'Valor Saldo Diário Cliente RDC', 'Valor Saldo Diário Cliente LCI',
       'Quantidade Seguro Vigente', 'Valor Contribuição Cliente Previ']]

In [11]:
dfprod.shape[1]

9

In [12]:
dfprod.columns

Index(['Quantidade Contratos Crédito',
       'Valor Limite Conta Cartão Contratado Diário Cliente Cartão',
       'Quantidade Cota Ativa Cliente Consórcio',
       'Valor Saldo Final Cliente Poupança', 'Valor Saldo Diário Cliente LCA',
       'Valor Saldo Diário Cliente RDC', 'Valor Saldo Diário Cliente LCI',
       'Quantidade Seguro Vigente', 'Valor Contribuição Cliente Previ'],
      dtype='object')

In [13]:
dfrename = dfprod.rename(columns={'Quantidade Contratos Crédito':'Credito',
                                  'Valor Limite Conta Cartão Contratado Diário Cliente Cartão':'Cartão', 
                                  'Quantidade Cota Ativa Cliente Consórcio': 'Consórcio',
                                  'Valor Saldo Final Cliente Poupança':'Poupança',
                                  'Valor Saldo Diário Cliente LCA':'LCA',
                                  'Valor Saldo Diário Cliente RDC':'RDC',
                                  'Valor Saldo Diário Cliente LCI':'LCI',
                                  'Quantidade Seguro Vigente':'Seguro',
                                  'Valor Contribuição Cliente Previ':'Previd'
                                  
                                 
                                 }, inplace=False)

In [14]:
dfrename.columns

Index(['Credito', 'Cartão', 'Consórcio', 'Poupança', 'LCA', 'RDC', 'LCI',
       'Seguro', 'Previd'],
      dtype='object')

In [15]:
for i in dfrename.columns:
    dfrename.loc[dfrename[i]!=0,i] = i

In [16]:
df = dfrename
df

        Credito  Cartão Consórcio Poupança  LCA  RDC LCI Seguro Previd
5             0  Cartão         0      0.0  0.0  RDC   0      0    0.0
6             0       0         0      0.0  0.0  0.0   0      0    0.0
8             0       0         0      0.0  0.0  0.0   0      0    0.0
9             0       0         0      0.0  0.0  0.0   0      0    0.0
10            0  Cartão         0      0.0  0.0  RDC   0      0    0.0
...         ...     ...       ...      ...  ...  ...  ..    ...    ...
111392        0       0         0      0.0  0.0  0.0   0      0    0.0
111393        0       0         0      0.0  0.0  0.0   0      0    0.0
111394        0       0         0      0.0  0.0  0.0   0      0    0.0
111395  Credito  Cartão         0      0.0  0.0  0.0   0      0    0.0
111397  Credito       0         0      0.0  0.0  0.0   0      0    0.0

[47205 rows x 9 columns]

In [22]:
def removeAllOcurrencesOfValueInList(_list, value):
    return list(filter(lambda x: x != value, _list))

In [23]:
list_all_transactions = []

for index, row in df.iterrows():
    list_single_transaction = row.values.tolist()
    list_single_transaction = removeAllOcurrencesOfValueInList(list_single_transaction, 0)
    list_all_transactions.append(list_single_transaction)

#10 primeiras transações
print(list_all_transactions[0:10])

[['Cartão', 'RDC'], [], [], [], ['Cartão', 'RDC'], ['Credito', 'Cartão'], ['Credito', 'Poupança', 'RDC', 'Seguro'], [], ['Cartão'], ['Credito', 'Cartão']]

In [24]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()

te_ary = te.fit(list_all_transactions).transform(list_all_transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

       Cartão  Credito    LCA  Poupança  Previd    RDC  Seguro
0        True    False  False     False   False   True   False
1       False    False  False     False   False  False   False
2       False    False  False     False   False  False   False
3       False    False  False     False   False  False   False
4        True    False  False     False   False   True   False
...       ...      ...    ...       ...     ...    ...     ...
47200   False    False  False     False   False  False   False
47201   False    False  False     False   False  False   False
47202   False    False  False     False   False  False   False
47203    True     True  False     False   False  False   False
47204   False     True  False     False   False  False   False

[47205 rows x 7 columns]

In [25]:
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(df, min_support = 0.1, use_colnames = True)
frequent_itemsets.sort_values(by=['support'], ascending = False).head(10)

    support            itemsets
0  0.577757            (Cartão)
1  0.208876           (Credito)
4  0.198009            (Seguro)
3  0.182798               (RDC)
2  0.180320          (Poupança)
8  0.160640    (Seguro, Cartão)
5  0.156848   (Cartão, Credito)
7  0.133672       (RDC, Cartão)
6  0.130812  (Cartão, Poupança)

In [26]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)
rules.sort_values(by=['lift'], ascending = False).drop(['antecedent support', 'consequent support', 'leverage', 'conviction'], axis=1)

  antecedents consequents   support  confidence      lift
3    (Seguro)    (Cartão)  0.160640    0.811276  1.404184
0   (Credito)    (Cartão)  0.156848    0.750913  1.299704
2       (RDC)    (Cartão)  0.133672    0.731255  1.265680
1  (Poupança)    (Cartão)  0.130812    0.725446  1.255626

### Resultado

Entre as associações testadas, a regra de associação mais robusta indicou que se o cliente possui Seguro, Crédito Pessoal, RDC ou Poupança há uma boa possibilidade para aceitar Cartão de Crédito