# Resumo Recomendações_algoritmos_base_banco

In [1]:
import numpy as np
import pandas as pd

%matplotlib inline

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings.drop(columns='Unnamed: 0', inplace=True)
ratings = ratings.sort_values(['user', 'item'], ascending=[True, True])
ratings

          user      item  raw_ratings
1            5    cartao          1.0
0            5   credito          0.0
2            5  poupanca          0.0
3            5       rdc          1.0
4            5    seguro          0.0
...        ...       ...          ...
236021  111397    cartao          0.0
236020  111397   credito          1.0
236022  111397  poupanca          0.0
236023  111397       rdc          0.0
236024  111397    seguro          0.0

[236025 rows x 3 columns]

In [3]:
ratings.head(30)

    user      item  raw_ratings
1      5    cartao          1.0
0      5   credito          0.0
2      5  poupanca          0.0
3      5       rdc          1.0
4      5    seguro          0.0
6      6    cartao          0.0
5      6   credito          0.0
7      6  poupanca          0.0
8      6       rdc          0.0
9      6    seguro          0.0
11     8    cartao          0.0
10     8   credito          0.0
12     8  poupanca          0.0
13     8       rdc          0.0
14     8    seguro          0.0
16     9    cartao          0.0
15     9   credito          0.0
17     9  poupanca          0.0
18     9       rdc          0.0
19     9    seguro          0.0
21    10    cartao          1.0
20    10   credito          0.0
22    10  poupanca          0.0
23    10       rdc          1.0
24    10    seguro          0.0
26    12    cartao          1.0
25    12   credito          1.0
27    12  poupanca          0.0
28    12       rdc          0.0
29    12    seguro          0.0

In [4]:
funk = pd.read_csv('rec_funk_svd.csv')
funk.drop(columns='Unnamed: 0', inplace=True)
funk.sort_values(by='id_cliente').head(60)

        id_cliente   produto  recomendacao_funk_svd
219781           5   credito               0.302357
196274           5    seguro               0.254842
105734           5       rdc               0.216690
195973           5    cartao               0.605215
110894           5  poupanca               0.215304
105310           6    seguro               0.118365
156920           6   credito               0.191573
156274           6    cartao               0.539355
23491            6       rdc               0.098423
153413           6  poupanca               0.178101
235599           8    cartao               0.516848
86974            8  poupanca               0.102175
181080           8    seguro               0.165233
234597           8   credito               0.208540
210102           8       rdc               0.186246
31375            9    cartao               0.529591
51139            9   credito               0.197075
205817           9  poupanca               0.057232
126435           9    seguro               0.085322
24570            9       rdc               0.149564
81238           10   credito               0.282386
67610           10    seguro               0.212724
179466          10  poupanca               0.182712
53088           10       rdc               0.188122
227172          10    cartao               0.568116
92152           12    seguro               0.250405
191809          12  poupanca               0.138619
201401          12    cartao               0.541188
224912          12       rdc               0.152872
161068          12   credito               0.179490
77689           13    cartao               0.810536
23268           13   credito               0.393103
140082          13       rdc               0.242591
119013          13    seguro               0.195164
94735           13  poupanca               0.186455
95308           15       rdc               0.099774
156448          15  poupanca               0.115696
199367          15    seguro               0.101897
186429          15   credito               0.131652
55845           15    cartao               0.498181
23693           16       rdc               0.186586
184312          16    cartao               0.512537
54834           16   credito               0.224816
12535           16    seguro               0.234009
231605          16  poupanca               0.121848
230185          17       rdc               0.237589
216602          17    seguro               0.228801
111772          17    cartao               0.575960
180656          17   credito               0.240306
190519          17  poupanca               0.207758
178390          20   credito               0.281452
152983          20  poupanca               0.288822
173736          20    cartao               0.623563
19036           20    seguro               0.205622
160901          20       rdc               0.246535
79983           22   credito               0.206512
147575          22       rdc               0.207688
69671           22    cartao               0.634972
222944          22    seguro               0.244166
34466           22  poupanca               0.239183

In [5]:
funk = pd.read_csv('rec_funk_svd.csv')
funk.drop(columns='Unnamed: 0', inplace=True)
funk = funk.sort_values(['id_cliente', 'produto'], ascending=[True, True])
funk = funk.set_index('id_cliente')
funk

             produto  recomendacao_funk_svd
id_cliente
5             cartao               0.605215
5            credito               0.302357
5           poupanca               0.215304
5                rdc               0.216690
5             seguro               0.254842
...              ...                    ...
111397        cartao               0.552158
111397       credito               0.166842
111397      poupanca               0.243699
111397           rdc               0.196211
111397        seguro               0.149422

[236025 rows x 2 columns]

In [6]:
svdpp = pd.read_csv('rec_svdpp.csv')
svdpp.drop(columns='Unnamed: 0', inplace=True)
svdpp = svdpp.set_index('id_cliente')
svdpp = svdpp.sort_values(['id_cliente', 'produto'], ascending=[True, True])
svdpp

             produto  recomendacao_svdpp
id_cliente
5             cartao            0.673807
5            credito            0.286358
5           poupanca            0.284222
5                rdc            0.168946
5             seguro            0.306734
...              ...                 ...
111397        cartao            0.626759
111397       credito            0.084214
111397      poupanca            0.169840
111397           rdc            0.075229
111397        seguro            0.213874

[236025 rows x 2 columns]

In [7]:
ratings = pd.read_csv('ratings.csv')
ratings.drop(columns='Unnamed: 0', inplace=True)
ratings = ratings.sort_values(['user', 'item'], ascending=[True, True])
ratings = ratings.set_index('user')
ratings

            item  raw_ratings
user
5         cartao          1.0
5        credito          0.0
5       poupanca          0.0
5            rdc          1.0
5         seguro          0.0
...          ...          ...
111397    cartao          0.0
111397   credito          1.0
111397  poupanca          0.0
111397       rdc          0.0
111397    seguro          0.0

[236025 rows x 2 columns]

In [12]:
result = pd.concat([ratings,funk['recomendacao_funk_svd'],svdpp['recomendacao_svdpp']], axis=1)
result.head(40)

        item  raw_ratings  recomendacao_funk_svd  recomendacao_svdpp
5     cartao          1.0               0.605215            0.673807
5    credito          0.0               0.302357            0.286358
5   poupanca          0.0               0.215304            0.284222
5        rdc          1.0               0.216690            0.168946
5     seguro          0.0               0.254842            0.306734
6     cartao          0.0               0.539355            0.493619
6    credito          0.0               0.191573            0.081980
6   poupanca          0.0               0.178101            0.114335
6        rdc          0.0               0.098423            0.127088
6     seguro          0.0               0.118365            0.083255
8     cartao          0.0               0.516848            0.536113
8    credito          0.0               0.208540            0.152803
8   poupanca          0.0               0.102175            0.073291
8        rdc          0.0               0.186246            0.084065
8     seguro          0.0               0.165233            0.128392
9     cartao          0.0               0.529591            0.451844
9    credito          0.0               0.197075            0.131849
9   poupanca          0.0               0.057232            0.100954
9        rdc          0.0               0.149564            0.088737
9     seguro          0.0               0.085322            0.122851
10    cartao          1.0               0.568116            0.562867
10   credito          0.0               0.282386            0.354624
10  poupanca          0.0               0.182712            0.345372
10       rdc          1.0               0.188122            0.186654
10    seguro          0.0               0.212724            0.231283
12    cartao          1.0               0.541188            0.556327
12   credito          1.0               0.179490            0.257855
12  poupanca          0.0               0.138619            0.244357
12       rdc          0.0               0.152872            0.276667
12    seguro          0.0               0.250405            0.238147
13    cartao          0.0               0.810536            0.795123
13   credito          1.0               0.393103            0.252929
13  poupanca          1.0               0.186455            0.241054
13       rdc          1.0               0.242591            0.198393
13    seguro          1.0               0.195164            0.459988
15    cartao          0.0               0.498181            0.475767
15   credito          0.0               0.131652            0.106442
15  poupanca          0.0               0.115696            0.067074
15       rdc          0.0               0.099774            0.077245
15    seguro          0.0               0.101897            0.117678

### Exemplo com Recomendações de Cartão de Crédito para cada cliente sem esse produto (raw_ratings=0)

- Baseados nos algoritmos Funk SVD e SVD++ (SVDpp)

In [11]:
result[(result['raw_ratings']==0) & (result['item']=='cartao') & ((result['recomendacao_funk_svd']>0.50) | (result['recomendacao_svdpp']>0.50)) ]

          item  raw_ratings  recomendacao_funk_svd  recomendacao_svdpp
6       cartao          0.0               0.539355            0.493619
8       cartao          0.0               0.516848            0.536113
9       cartao          0.0               0.529591            0.451844
13      cartao          0.0               0.810536            0.795123
23      cartao          0.0               0.515663            0.552836
...        ...          ...                    ...                 ...
111382  cartao          0.0               0.557242            0.549729
111392  cartao          0.0               0.506417            0.469884
111393  cartao          0.0               0.510513            0.573036
111394  cartao          0.0               0.517772            0.453318
111397  cartao          0.0               0.552158            0.626759

[17812 rows x 4 columns]